<fieldset>
<%= form_for(@component, :remote => true) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  	<%= f.label :Package %><br />
    <%= f.text_field :package %>
  </div>
  <div class="field">
    <%= f.label :SoftwareComponent %><br />
    <%= f.text_field :softwarecomponent  %>
  </div>
  <div class="field">
    <%= f.label :ApplicationComponent %><br />
    <%= f.text_field :applicationcomponent %>
  </div>
  <div class="field">
    <%= f.label :ChangePerson %><br />
    <%= f.text_field :changeperson%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</fieldset>