<div class="span10" >
<h4>Person information</h4>
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<%= notice%>
</div>	
<table id="checkmen" class="display" >
	<thead>
		<th>SAP Name</th>
		<th>Name</th>
		<th>ID</th>
		<th>OrgUnit</th>
		<th>IMS</th>
		<th>Email</th>
		<th style="display:none">Aactive</th>
	</thead>
	<tbody>
		<% @person.each do |c|%>
		<tr id="person_<%= c.id%>">
		<td><%=  c.sapname %></td>
		<td><%=c.firstname%> <%= c.lastname%></td>
		<td><%= c.eid%></td>
		<td><%= c.orgunit %> </td>
		<td><%= c.ims%></td>
		<td><%= c.email%></td>		
		<td style="display:none"><%= link_to "" , edit_person_path(c.id) ,:remote=>true,:class=>"icon-pencil"%></td>
		</tr>
		<%end%>
	</tbody>
</table>
</div>
<div class="span2" >
<div id="person_edit_area"></div>
</div>