<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.sapname %>
</p>

<p>
  <b>ID:</b>
  <%= @person.eid %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>SAP NAME:</b>
  <%= @person.sapname %>
</p>



<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
