<li id="import_index"><%= link_to 'Import', :controller => :checkmen,:action =>:import  %> </li>
	<li id="overview_index"><%= link_to 'Overview', checkmen_path %></li>
	<li id="component_index"><%= link_to 'Component' ,components_path %></li>
	<li id="object_index"><%= link_to 'Object Responsible' ,objectresponsibles_path  %></li>
	<li id="person_index"><%= link_to 'Person Information' ,people_path  %></li>
