<div class="alert alert-info" id="checkman_<%= @checkman.id%>">
	<h4>Detail information</h4>
	 <a class="close" data-dismiss="alert">×</a>
	 <li>DLM:<br /><%= @checkman.dlm%></li>
	 <li>Realease system:<br /><%= @checkman.release%></li>
	 <li>1st Fount:<br /><%= @checkman.foundat%></li>
	 <li>Update at:<br /><%= @checkman.updated_at%></li>
	 <li>Unique Id:<br /><%= @checkman.uniqueid%></li>
</div>