 <div class="row-fluid" id="<%= @comment.id%>">
 	<div class="span10">
 	<%= @comment.commenter%> at <%= @comment.updated_at%>Says:<br /><%= @comment.content%>
 	</div>
 	<div class="span2">
       <%= @comment.feedback%>
 	</div>
 </div>
 ---------------------------------------------