<%= form_tag mail_multiple_checkmen_path, method: :patch_mail ,:remote =>true do %>
<table id="checkmen" class="display">

	<thead>
		<div class="btn-group">
  <%= submit_tag "Send Email", :class=>"btn btn-info"%>
  <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
   <%= submit_tag "Send to each Responsible",:class =>"dropdown-menu btn "%></a>
  </ul>
</div>
		<th><input type="checkbox" onclick="toggle_checkall('checkman', this.checked);" /></th>
		<th>Check ID</th>
		<th>Message ID</th>
		<th>Object Name</th>
		<th>Priority</th>
		<th>System</th>
		<th>App.Comp</th>
		<th>Package</th>
		<th>Responsible</th>
		<th>Prod.Rel</th>
		<th>Status</th>
	    <th style="display: none">Comment</th>
	</thead>
	<tbody>
		<% @checkman.each do |checkman|%>
		<tr id="checkman_<%= checkman.id%>">
		<td id="check_box"><%= check_box_tag "checkman_ids[]", checkman.id %></td>
		<td ><%= checkman.checkid%></td>
		<td ><%= checkman.messageid%></td>
		<td ><%= link_to checkman.objectresponsible.objectname, :controller =>:objectresponsibles,:action =>:detail,:id=>checkman.objectresponsible.id%></td>
		<td ><%= checkman.priority %></td>
		<td ><%= checkman.release%></td>
		<td >
			<% if checkman.objectresponsible.package.component_id.nil? %>
			<%else%>
			<%= checkman.objectresponsible.package.component.applicationcomponent%>
 			<%end%>
		</td>
		<td ><%= link_to checkman.objectresponsible.package.package,:controller => :components,:action =>:detail,:id=>checkman.objectresponsible.package.id%></td>
		<td ><%= link_to checkman.objectresponsible.person.responsibleperson, :controller =>:people,:action =>:detail,:id =>checkman.objectresponsible.person.id%></td>
		<td ><%if checkman.prodrel? %>
			<i class="icon-ok"></i>True
			<%else%>
			<i class="icon-remove"></i>False
			<%end%>
		</td>
		<td>
			<span>
	    	<% case checkman.feedback %>
	    	<% when "open" %>
	    	<i class="icon-share"></i>Open
	    	<% when "addressed"%> 
	    	<i class="icon-download-alt"></i>Addressed
			<% when "solved"%>
			<i class="icon-check"></i>solved
			<%end%>
	    	</span>
	    </td>
	    
	    <td style = "display:none"><span></span><%= link_to "", edit_checkman_path(checkman.id),:remote=>true,:class=>"icon-pencil"%></td>
		</tr>
		<%end%>
	</tbody>
</table>
<% end -%>