<% @page_title = "Import" %>
<h1>Import Information</h1>
<div id="main_body">
<div class="Import_help">
  <p>Please set your csv file like this,you can export the file from BW system,And only need to rename the file to csv</p>
  <table> 
    <thead id="sample_th">
      <th>Priority</th>
      <th>Check(Check ID)</th>
      <th>Check message(Message ID)</th>
      <th>Object Name</th>
      <th>Object Type</th>
      <th>Contact</th>
      <th>Package</th>
      <th>1ST Found</th>
      <th>Unique ID</th>
    </thead>
    <tbody id="sample_td">
      <th>1</th>
      <th>CALL FUNCTION Interfaces  (SLIN_CALFB) </th>
      <th>Formal Parameter Incompatible with Actual Parameter (0103)</th>
      <th>USS_BW</th>
      <th>FUGR</th>
      <th>BABIC</th>
      <th>USS</th>
      <th>2012.11.16</th>
      <th>18.958.768-</th>
    </tbody>
  </table>
</div>
<p class="flip">Help For Import File</p>
<fieldset>
	<legend>Please Choose File</legend>
<%= form_for :upload ,:html=>{:multipart => true} do |f|%>
  <div>
  	
  		Please select the Prodrel &nbsp;items&nbsp; file: <%= f.file_field :file1%><br />
  		Please select the ALL_Data items file:<%= f.file_field :file2 %><br />
  		Please select the release where your data from:<%= f.select :release  ,options_for_select({"V7Z"=>"V7Z","GTP"=>"GTP"},"V7Z")%>
 	
  </div>
   
  <div class="actions">
    <%= f.submit "Upload" , :disable_with =>"Uploading...."%> 
   
  </div>
<% end %>
</fieldset>
 <%= link_to 'Back', checkmen_path %>
</div>