 <!-- <div class="alert alert-success">
      Chose file and import new data, You can get import help 
      <a  data-toggle="modal" href="#import-help">here!</a>
    </div> -->
<h4>Checkman Overview </h4>
<hr>
  <div >
<%= form_tag upload_checkmen_path, multipart: :true ,:remote=>true do%>
  <div>
       <strong>File:  </strong><%= file_field_tag :file1%>
       <strong>Prodution Relevant: </strong><%= select_tag :isprodrel,options_for_select({""=>"NULL","YES"=>1,"All"=>0,},:selected=>"") %>
       <strong>&nbsp;&nbsp;&nbsp;System: </strong><%= select_tag :release  ,options_for_select({""=>"NULL","V7Z"=>"V7Z","C6Z"=>"C6Z","EXC"=>"EXC","C7Z"=>"C7Z"},:selected=>"")%>
<%= submit_tag "Upload" , :disable_with =>"Uploading....",:class=>"btn btn-info",:style=>"margin-left:50px"%>
<% end %>
</div>
</div>
<%= render "importhelp"%>   
<input type="hidden"  id="data" data-source="<%= checkmen_url(format: "json") %>">
<%= render  "result"%>
<div id="comment_area" ></div>
