 <!-- <div class="alert alert-success">
      Chose file and import new data, You can get import help 
      <a  data-toggle="modal" href="#import-help">here!</a>
    </div> -->
<h4>Checkman Overview </h4>
<hr>
  <div >
<%= form_tag upload_checkmen_path, multipart: :true ,:remote=>true do%>
  <div>
       <strong>File:</strong><%= file_field_tag :file1%>
       <strong>Prod.Rel:</strong><%= select_tag :isprodrel,options_for_select({""=>"NULL","Prod.Rel"=>1,"All"=>0,},:selected=>"") %>
       <strong>&nbsp;&nbsp;&nbsp;Release:</strong><%= select_tag :release  ,options_for_select({""=>"NULL","EHP7"=>"V7Z","EHP6"=>"C6Z","EHP6H"=>"EXC"},:selected=>"")%>
<%= submit_tag "Upload" , :disable_with =>"Uploading....",:class=>"btn btn-info",:style=>"margin-left:50px"%>
<% end %>
</div>
</div>
<div style="margin-bottom: 15px">
<button id="search" class="btn btn-info" data-toggle="button" >Filter</button>
</div>
<div id="search_form">
<%= form_tag search_checkmen_path  do%>
  <%= select_tag :select ,options_for_select({"component" => "component","package" =>"package","person" =>"person","object"=>"onjectname","prodrel"=>"prodrel"})%>
  <%= text_field_tag :content %> <br >
  <%= submit_tag "Search" , :class=>"btn btn-info"%>
<% end -%>
</div>
<!-- <div id="import-result">
  <a class="close" data-dismiss="alert">×</a>
<!-- </div> --> 
<%= render "importhelp"%>
    <!--  <div id="main-alert" class="alert alert-info">
     <%= notice%>
     <a class="close" data-dismiss="alert">×</a>
    </div> -->
<input type="hidden"  id="data" data-source="<%= checkmen_url(format: "json") %>">
<%= render  "result"%>
<div id="comment_area" ></div>