<h3>Checkman Errors </h3>
<%= content_for :leftside do%>

<%end%>
<div style="margin-bottom: 15px">
<button id="search" class="btn btn-info" data-toggle="button" >Filter</button>
<button id="new_import" class="btn btn-info" data-toggle="button">Import</button>
</div>
<div id="search_form">
<%= search_form_for @q, url: search_checkmen_path, method: :post do |f|%>
 <div class="field">
 <fieldset>
  <legend>Condition </legend>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  <%= link_to_add_fields "Add Conditions", f, :condition %>
  </fieldset>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
</div>
<div id="import-result">
  <a class="close" data-dismiss="alert">×</a>
</div>
<%= render "import"%>
<%= render "importhelp"%>
    <div id="main-alert" class="alert alert-info">
      <%= notice%>
      <a class="close" data-dismiss="alert">×</a>
    </div>
<%= render  "result"%>
<%= content_for :rightside do%>
<div id="comment_area" ></div>
<% end%>