<div class="alert alert-success" id="object_<%=@object.id%>">
  <a class="close" id="object_<%=@object.id%>" data-dismiss="alert">×</a>
<%= form_for @object,:remote=>true do |f|%>
  <% if @object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@object.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% @object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label :package %>
    <input class="span12 input-xlarge" id="disabledInput" type="text" placeholder="<%= @object.component.package %>" disabled>
  	<%= f.label :Objectname%>
     <input class="span12 input-xlarge" id="disabledInput" type="text" placeholder="<%= @object.objectname %>" disabled>
  <div class="field">
    <%=f.label :Contact%>
    <input class="span12 input-xlarge" id="disabledInput" type="text" placeholder="<%= @object.contact %>" disabled>
    <%= f.label :ResponsiblePerson %>
    <%= f.text_field :contact ,:class=>"span12",:placeholder=>"please enter .."%>
  </div>
  <div class="actions">
    <%= f.submit  "Submit"%>
  </div>
<% end %>
</div>