<fieldset>
<%= form_for(@object) do |f| %>
  <% if @object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@object.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%= f.label :package %>:
    <%= @object.component.package %>
  </div>
  <div>
  	<%= f.label :Objectname%>
  	<%= @object.objectname %>
  </div>
  <div class="field">
    <%= f.label :ResponsiblePerson %><br />
    <%= f.text_field :contact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</fieldset>