<div id="template_area">
	<h4><%= @email_template.name %></h4>
	<legend></legend>
	<div class="well">
		<!-- <div class="input-prepend"> -->
		<span class="add-on"><i class=" icon-book"></i>Suject:</span>
		<%= @email_template.subject %>
		<!-- </div> -->
	</div>
	<div class="well">
		<%= @email_template.content %>
	</div>
	<%= link_to edit_email_template_path(@email_template.id), :remote=>true do %>
		<button class="alert alert-success">Edit This Template</button>
	<% end -%>
	<%= link_to email_template_path(@email_template), :method => :delete, :confirm => "Are you sure?" ,:remote=>true do%>
	<button class="alert alert-success">Destory</button>
	<% end -%>
</div>