<h4>Email Template</h4>
<hr>
<div class="span3">
    <div class="tabbable tabs-left">
		<%= link_to  new_email_template_path ,:remote =>true,"data-toggle" =>"tab"   do %>
		<button class="btn btn-success" style="margin-bottom:10px">Create New Template</button>
		<% end -%>
       <ul class="nav nav-pills nav-stacked">
         <strong>Templates</strong>
         <legend></legend>
         <% if @email_templates.count ==0  %>
         <div class="alert  alert-info">
           No Template Exist
         </div>
         <% end -%>
         <% @email_templates.each do |t| %>
         <li id="template_<%= t.id%>">
         	<%= link_to email_template_path(t.id) ,:remote=>true, "data-toggle" =>"tab" do %>
         	   <strong><%= t.name %></strong> <br>
         	   <%if t.subject %>
         	   <small class="small"><%= t.subject %></small>
         	   <% end -%>
         	<% end -%>
         </li>
         <% end -%>
       </ul>
    </div>
</div>
<div class="span6">
	<div id="template_edit_area">
	<%= render 'new' %>
	</div>
</div>
<div class="span2">
	<strong><i>For the Template 
		Please replace column1 by column2
		</i></strong>
	<div class="alert" style="margin-top: 20px">
		<!-- <h4 class="alert-heading">Template Instruction</h4> -->
		

		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<th>original</th>
				<th>replaced</th>
			</thead>
			<tbody>
				<tr>
				<td>receiver</td>
				<td><span class="badge badge-warning">#name#</span></td>
				</tr>
				<tr>
					<td>component</td>
					<td><span class="badge badge-warning">#component#</span></td>
				</tr>
				<tr>
					<td>object</td>
					<td><span class="badge badge-warning">#object#</span></td>
				</tr>
				<tr>
					<td>System</td>
					<td><span class="badge badge-warning">#system#</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>

