<!DOCTYPE html>
<html>
<head>
  <title>Delivery-Checkman</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-bottom: 40px; /* 40px*/
      }
    </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="../">Delivery</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to 'Overview', checkmen_path %></li>
              <li><%= link_to 'Component' ,components_path %></li>
              <li><%= link_to 'Object' ,objectresponsibles_path  %></li>
              <li><%= link_to 'Person' ,people_path  %></li>
              <li class="dropdown"> 
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Checkman<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Done Criteria</a></li>
                  <li><a href="#">Scrum Task</a></li>
                  <li><a href="#">Task Backlog</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Other links</li>
                  <li><a href="#">SAP Corp</a></li>
                  <li><a href="release-notes.html">PMD</a></li>
                  <li><a href="https://ifp.wdf.sap.corp/sap/bc/webdynpro/sap/cprojects?sap-language=en" >Link to cProjects</a></li>
                  <li><a href="https://sapjira.wdf.sap.corp/secure/BrowseProjects.jspa#all">Link to JIRA</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Your ID">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  <div class="container-fluid">
  <div class="row-fluid">
  <div class="span10">
    <%= yield %>
  </div>
  <div class="span2" id="right-side">
    <%= yield :rightside%>
  </div>
</div>
</div>
</body>
</html>