<!DOCTYPE html>
<html>
<head>
  <title>Delivery-Checkman</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
      body {
         margin-top: 50px/* 60px to make the container go all the way to the bottom of the topbar */
        /* 40px*/
      }
    </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">

        <ul class="nav" style="margin-left: 20px" >
          <li class="dropdown"> 
                <a href="../" class="brand dropdown-toggle " data-toggle="dropdown"><%= image_tag("sap-logo.png") %><big><i>Delivery</i></big><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="../">Home</a></li>
                  <li><a href="#">Done Criteria</a></li>
                  <li><a href="#">Scrum Task</a></li>
                  <li><a href="#">Task Backlog</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Other links</li>
                  <li><a href="#">SAP Corp</a></li>
                  <li><a href="release-notes.html">PMD</a></li>
                  <li><a href="https://ifp.wdf.sap.corp/sap/bc/webdynpro/sap/cprojects?sap-language=en" >Link to cProjects</a></li>
                  <li><a href="https://sapjira.wdf.sap.corp/secure/BrowseProjects.jspa#all">Link to JIRA</a></li>
                </ul>
              </li>
        </ul>
        <div class="container ">
          <a class="brand  " href=""> 
          </a>
          <!-- <div class="nav-collapse collapse"> -->

            <ul class="nav">
              <li><%= link_to(checkmen_path) do%>
                    <span id="link_menu">checkman</span>
                    <% end -%>
              </li>
              <li><%= link_to objectresponsibles_path  do%>
                  <span id="link_menu"> Object</span>
                  <% end -%>
              </li>
              <li><%= link_to packages_path do%>
                <span id="link_menu">Package</span>
                <% end -%>
              </li>
              <li><%= link_to components_path do%>
                  <span id="link_menu">Appl.Component</span>
                  <% end -%>
              </li>
              <li><%= link_to people_path do %>
                <span id="link_menu">Responsible</span>
                <% end -%>
              </li>
            </ul>
            
          <!-- </div>/.nav-collapse  -->
        </div>
        <!--     <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Your ID">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
        </form> -->
      </div>
        
       
    </div>
  <div class="container-fluid">
  <div class="row-fluid">
    <%= yield %>  
 <!--  <div class="span2" id="right-side">
    <%= yield :rightside%>
  </div> -->
</div> 
</div>

</body>  
<hr>
  <footer navbar-fixxed-buttom>
    &nbsp;Any suggest ,feel free to contect <a href="mailto:g.zhang@sap.com">Geoffrey</a> or <a href="mailto:roam.tang@sap.com">Roam</a>
  </footer>
</html>